@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow-y: hidden;
}

.carousel {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  &-wraper {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
  }
  &-open:checked + .carousel-item {
    position: static;
    opacity: 100;
  }
  &-item {
    position: absolute;
    opacity: 0;
    transition: opacity 0.6s ease-out;
    img {
      display: block;
      height: auto;
      width: 100vw;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  &-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    width: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    z-index: 10;
    &.prev {
      right: 2%;
    }
    &.next {
      left: 2%;
    }
  }
  &-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
  }
  &-indicators {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    & li {
      display: inline-block;
      margin: 0 5px;
    }
  }
  &-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
  }
  &-bullet:hover {
    color: #aaaaaa;
  }
  &_title_home {
    position: absolute;
    top: 20%;
    left: 42%;
    z-index: 11;
    font-size: 40px;
    line-height: 1;
  }
  &_dscr_home {
    position: absolute;
    top: 25%;
    left: 40%;
    z-index: 11;
    font-size: 30px;
    font-weight: 100;
  }
  &_title {
    position: absolute;
    top: 22%;
    left: 8%;
    z-index: 11;
    font-size: 40px;
  }
  &_dscr {
    position: absolute;
    top: 32%;
    left: 8%;
    z-index: 11;
    font-size: 25px;
    line-height: 1.5;
    font-weight: 100;
  }
  &_title_4 {
    position: absolute;
    bottom: 20%;
    left: 8%;
    z-index: 11;
    font-size: 40px;
  }
  &_dscr_4 {
    position: absolute;
    top: 19%;
    left: 7%;
    z-index: 11;
    font-size: 25px;
    line-height: 1.5;
    color: white;
    font-weight: 100;
  }
  &_title_5 {
    position: absolute;
    top: 20%;
    left: 40%;
    z-index: 11;
    font-size: 50px;
    font-weight: 100;
  }
  &_dscr_5 {
    position: absolute;
    top: 15%;
    left: 43%;
    z-index: 11;
    font-size: 25px;
    line-height: 1.5;
  }
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4,
#carousel-5:checked ~ .control-5 {
  display: block;
}

#carousel-1:checked
  ~ .control-1
  ~ .carousel-indicators
  li:nth-child(1)
  .carousel-bullet,
#carousel-2:checked
  ~ .control-2
  ~ .carousel-indicators
  li:nth-child(2)
  .carousel-bullet,
#carousel-3:checked
  ~ .control-3
  ~ .carousel-indicators
  li:nth-child(3)
  .carousel-bullet,
#carousel-4:checked
  ~ .control-4
  ~ .carousel-indicators
  li:nth-child(4)
  .carousel-bullet,
#carousel-5:checked
  ~ .control-5
  ~ .carousel-indicators
  li:nth-child(5)
  .carousel-bullet {
  color: #428bca;
}

@media only screen and (max-width: 920px) {
  .carousel {
    &_title_home {
      position: relative;
      top: 0;
      left: 0;
      z-index: none;
    }
    &_dscr_home {
      position: relative;
      top: 0;
      left: 0;
      z-index: none;
    }
    &_title {
      position: relative;
      top: 0;
      left: 0;
      z-index: none;
    }
    &_dscr {
      position: relative;
      top: 0;
      left: 0;
      z-index: 0;
    }
    &_title_4 {
      position: relative;
      bottom: 0;
      left: 0;
      z-index: none;
    }
    &_dscr_4 {
      position: relative;
      top: 0;
      left: 0;
      z-index: none;
      color: black;
    }
    &_title_5 {
      position: relative;
      top: 0;
      left: 0;
      z-index: none;
    }
    &_dscr_5 {
      position: relative;
      top: 0;
      left: 0;
      z-index: none;
    }
    &-control {
      top: 20%;
    }
  }
}
